<div class="row">
  <div class="portlet green box">
    <div class="portlet-title">
      <div class="caption">
      </div>
      <div class="tools">
        <a href="javascript:void(0);" class="collapse"> </a>
        <a href="javascript:void(0);" class="fullscreen"> </a>
        <a href="javascript:void(0);" class="remove"> </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <sxy-form op = "searchForm">
          <div class="col-xs-12 text-center">
            <button class="btn btn-success" sxy-shortcut="enter" ng-click="remoteGrid.reload()">查找</button>
            <button class="btn btn-primary" sxy-shortcut="ctrl+r" ng-click="searchFormApi.form.reset()">重置</button>
          </div>
        </sxy-form>
      </div>
    </div>
  </div>
</div>

<br>

<div class="col-sx-12 text-right">
  <button class="btn btn-success" ng-click = "addNewUser()">新增</button>
  <button class="btn btn-danger" ng-click = "batchDelete()">删除</button>
</div>
<sxy-grid op = "remoteGridOP" style="width: 100%; height: 420px; text-align: center;"></sxy-grid>
